.renderContainer {
  background-color: #c4c4c4;
  background-image: url("/sfondo.png");
  min-height: 100vh;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.welcomeComponent {
  background-image: url("/logo.png");
  min-height: 50vh;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.textContainer {
  background-color: rgba(0, 0, 0, 0.5);
}
