body {
  margin: 20px;
} /* _________WELCOME_____________ */
.welcomeContainer img {
  border: 2px solid black;
  border-radius: 100px;
  margin-top: 1%;
  margin-left: 35%;
  /* padding: 20px; */
}
/* .welcomeLogo {
  background-image: url("/logo.png");
  min-height: 50vh;

  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
} */
/* ______________READER_______________ */
.renderContainer {
  background-color: #c4c4c4;
  background-image: url("/sfondo.png");
  min-height: 100vh;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.textContainer {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: courier;
  font-size: 35px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c4c4c4;
}
/* ______________IMPORTER___________ */
.sceneImporter {
  background-image: url("/vincent.png");
  min-height: 100vh;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  border: 2px solid black;
  box-sizing: border-box;
}
img#sceneTitle {
  /* position: absolute; */
  width: 500px;
  margin-top: 20px;
  margin-left: 20px;
}
#title {
  margin-left: 40%;
  min-width: 30vh;
  font-size: 15px;
}
input,
button,
a,
textarea {
  outline-color: black;
}
button {
  outline: 0;
}
#fine {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
