body {
  background-color: #c4c4c4;
  background-image: url("/sfondo.png");
  min-height: 100vh;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.appContainer {
}
.textContainer {
  font-color: red;
}
